/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Roboto:300i,400';

p {
    font-family: 'Roboto', sans-serif;
    color: blue;
}

/* Style */

body {
    /*background: #333 url("/static/img/splash.jpg");*/
    background-size: cover;
    color: #bbbbbb;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Style our navbar. */

.navbar {
    background-color: transparent;
    margin-bottom: 0;
}

#canvas-element {
    width: 1435px;
    height: 571px;
}

#profile-photo {
    width: 100px;
    height: auto;
}