/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Raleway:300i,600|Roboto:300i,400';

p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 11pt;
    color: #333333;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24pt;
    color: #333333;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    color: #333333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16pt;
    color: #333333;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

#links {
    padding-top: 30px;
}

#links a:hover span {
    color: yellow;
}

/* Style */

body {
    /*background: #333 url("/static/img/splash.jpg");*/
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}

/* Style our navbar. */

.navbar {
    background-color: transparent;
    /*opacity: 0.8;*/
    margin-bottom: 0;
}

#canvas-element {
    width: 1435px;
    height: 571px;
}

#profile-photo {
    width: 200px;
    height: auto;
}

#contact-photo {
    width: 200px;
    height: auto;
}

ul {
    list-style-type:none;
}


section {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    position: relative;
    background-color: #E8E7EA;
}

.extra {
    height: auto;
    overflow: hidden;
    background-color: #5A6A61;
}

.background {
    position: relative;
    height: 50%;
    padding-top: 8em;
    padding-bottom: 12em;
}

.background p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    font-size: 1.2em;
}

.background a:hover {
    border-bottom: 1px dotted #9EA183;
}
