<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/static/css/site.css">

    <script src='http://code.jquery.com/jquery.js'></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- my favicon -->
<!--     <link rel="icon" 
      type="image/png" 
      href="/static/img/x.png"> -->

    {% block title %} put your title here {% endblock %}

</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href='/dashboard'>DASHBOARD</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href='/buildings'>
            <span><span class='glyphicon glyphicon-th-list'></span> &nbsp SF BUILDINGS</span>
          </a>
      </li>
      <li><a href='/map'>
            <span><span class='glyphicon glyphicon-map-marker'></span> &nbsp MAP VIEW</span>
          </a>
      </li>
      <li><a href='/dendrogram'>
            <span><span class='glyphicon glyphicon-ice-lolly-tasted'></span> &nbsp DENDROGRAM</span>
          </a>
      </li>
      <li><a href='/cities'>
            <span><span class='glyphicon glyphicon-globe'></span> &nbsp CITIES</span>
          </a>
      </li>  
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href='/dashboard'>
            <span><span class='glyphicon glyphicon-th'></span> &nbsp CARDS</span>
          </a>
      </li>
      <li><a href='/logout'>
            <span><span class='glyphicon glyphicon-user'></span> &nbsp LOGOUT<!-- {% if current_user is defined %} {{ current_user}} {% endif %} --></span>
          </a>
      </li>
    </ul>

  </div>
</nav>

  <!-- flash messages display here -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

{% block content %} put your content here {% endblock %}

<footer>
    <p>Copyright tmdd 2016. All rights reserved.</p>
</footer>

</body>
</html>
